{% extends 'gmail_api/base.html' %}

{% block content %}
<section class="d-flex">
    <h1 class="display-3 text-white bg-dark">Spam Data</h1>
</section>

<table class="table table-bordered">
    <thead class="text-white">
      <tr>
        <th>Date</th>
        <th>From</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody class="text-white">
      {% for data in fetch_data %}
        <tr>
          <td>{{ data.Date}}</td>
          <td>{{ data.From }}</td>
          <td>{{ data.Subject }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <section class="d-flex justify-content-center">
    <a class="btn btn-primary m-2" href="{% url 'spam_checker:home' %}">Back to Home</a>
  </section>
{% endblock content %} 