.navbar-brand {
    display: flex;
    flex: 1;
    justify-content: center;
}

.navbar-nav{
    display: flex;
    flex: 1;
    justify-content: space-around;
}
.col-md-8{
    margin: auto !important;
}

.row .list-group{
    display: flex !important;
    flex-direction: row !important;
}